---
swagger: "2.0"
info:
  description: "An Open Source API for Banks. (c) TESOBE GmbH. 2011 - 2024. Licensed\
    \ under the AGPL and commercial licences."
  version: "v5.1.0"
  title: "Open Bank Project API"
  contact:
    name: "TESOBE GmbH. / Open Bank Project"
    url: "https://openbankproject.com"
    email: "contact@tesobe.com"
host: "apisandbox.openbankproject.com"
basePath: "/"
schemes:
- "http"
- "https"
security:
- directLogin: []
  gatewayLogin: []
paths:
  /obp/v5.1.0/account/check/scheme/iban:
    post:
      tags:
      - "Account"
      summary: "Validate and check IBAN"
      description: "<p>Validate and check IBAN for errors</p><p>Authentication is\
        \ Optional</p>"
      operationId: "ibanChecker"
      parameters:
      - in: "body"
        name: "body"
        description: "IbanAddress object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/IbanAddress"
        x-exportParamName: "Body"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/IbanCheckerJsonV400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/accounts/public:
    get:
      tags:
      - "Account-Public"
      - "Account"
      - "PublicData"
      summary: "Get Public Accounts at all Banks"
      description: "<p>Get public accounts at all banks (Anonymous access).<br />Returns\
        \ accounts that contain at least one public view (a view where is_public is\
        \ true)<br />For each account the API returns the ID and the available views.</p><p>Authentication\
        \ is Optional</p>"
      operationId: "publicAccountsAllBanks"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BasicAccountsJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorCannotGetAccounts"
  /obp/v5.1.0/adapter:
    get:
      tags:
      - "API"
      summary: "Get Adapter Info"
      description: "<p>Get basic information about the Adapter.</p><p>Authentication\
        \ is Optional</p><p>Authentication is Mandatory</p>"
      operationId: "getAdapterInfo"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AdapterInfoJsonV500"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/api-collections/API_COLLECTION_ID/api-collection-endpoints:
    get:
      tags:
      - "Api-Collection"
      summary: "Get Api Collection Endpoints"
      description: "<p>Get Api Collection Endpoints By API_COLLECTION_ID.</p><p>Authentication\
        \ is Optional</p>"
      operationId: "getApiCollectionEndpoints"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ApiCollectionEndpointsJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/api-collections/featured:
    get:
      tags:
      - "Api-Collection"
      summary: "Get Featured Api Collections"
      description: "<p>Get Featured Api Collections.</p><p>Authentication is Optional</p>"
      operationId: "getFeaturedApiCollections"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ApiCollectionsJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/api-collections/sharable/API_COLLECTION_ID:
    get:
      tags:
      - "Api-Collection"
      summary: "Get Sharable Api Collection By Id"
      description: "<p>Get Sharable Api Collection By Id.<br />Authentication is Optional</p>"
      operationId: "getSharableApiCollectionById"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ApiCollectionJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/api/glossary:
    get:
      tags:
      - "Documentation"
      summary: "Get Glossary of the API"
      description: "<p>Get API Glossary</p><p>Returns the glossary of the API</p><p>Authentication\
        \ is Optional</p>"
      operationId: "getApiGlossary"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/GlossaryItemsJsonV300"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/api/versions:
    get:
      tags:
      - "Documentation"
      - "API"
      summary: "Get scanned API Versions"
      description: "<p>Get all the scanned API Versions.</p><p>Authentication is Optional</p>"
      operationId: "getScannedApiVersions"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/inline_response_200"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/banks:
    get:
      tags:
      - "Bank"
      - "Account Information Service (AIS)"
      - "PSD2"
      summary: "Get Banks"
      description: "<p>Get banks on this API instance<br />Returns a list of banks\
        \ supported on this server:</p><ul><li>ID used as parameter in URLs</li><li>Short\
        \ and full name of bank</li><li>Logo URL</li><li>Website</li></ul><p>Authentication\
        \ is Optional</p>"
      operationId: "getBanks"
      parameters: []
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BanksJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
    post:
      tags:
      - "Bank"
      summary: "Create Bank"
      description: "<p>Create a new bank (Authenticated access).</p><p>The user creating\
        \ this will be automatically assigned the Role CanCreateEntitlementAtOneBank.<br\
        \ />Thus the User can manage the bank they create and assign Roles to other\
        \ Users.</p><p>Only SANDBOX mode<br />The settlement accounts are created\
        \ specified by the bank in the POST body.<br />Name and account id are created\
        \ in accordance to the next rules:<br />- Incoming account (name: Default\
        \ incoming settlement account, Account ID: OBP_DEFAULT_INCOMING_ACCOUNT_ID,\
        \ currency: EUR)<br />- Outgoing account (name: Default outgoing settlement\
        \ account, Account ID: OBP_DEFAULT_OUTGOING_ACCOUNT_ID, currency: EUR)</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "createBank"
      parameters:
      - in: "body"
        name: "body"
        description: "PostBankJson500 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PostBankJson500"
        x-exportParamName: "Body"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/BankJson500"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorInvalidJsonFormat"
    put:
      tags:
      - "Bank"
      summary: "Update Bank"
      description: "<p>Update an existing bank (Authenticated access).</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "updateBank"
      parameters:
      - in: "body"
        name: "body"
        description: "PostBankJson500 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PostBankJson500"
        x-exportParamName: "Body"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BankJson500"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorInvalidJsonFormat"
  /obp/v5.1.0/banks/{BANK_ID}:
    get:
      tags:
      - "Bank"
      - "Account Information Service (AIS)"
      - "PSD2"
      summary: "Get Bank"
      description: "<p>Get the bank specified by BANK_ID<br />Returns information\
        \ about a single bank specified by BANK_ID including:</p><ul><li>Bank code\
        \ and full name of bank</li><li>Logo URL</li><li>Website</li></ul><p>Authentication\
        \ is Optional</p>"
      operationId: "getBank"
      parameters:
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BankJson500"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/banks/{BANK_ID}/{CUSTOMER_ID}/attributes/CUSTOMER_ATTRIBUTE_ID:
    delete:
      tags:
      - "Customer"
      summary: "Delete Customer Attribute"
      description: "<p>Delete Customer Attribute</p><p>CustomerAttributes are used\
        \ to enhance the OBP Customer object with Bank specific entities.</p><p>Delete\
        \ a Customer Attribute by its id.</p><p>Authentication is Mandatory</p>"
      operationId: "deleteCustomerAttribute"
      parameters:
      - name: "CUSTOMER_ID"
        in: "path"
        description: "The customer id"
        required: true
        type: "string"
        x-exportParamName: "CUSTOMERID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/account-applications:
    get:
      tags:
      - "Account-Application"
      - "Account"
      summary: "Get Account Applications"
      description: "<p>Get the Account Applications.</p><p>Authentication is Mandatory</p>"
      operationId: "getAccountApplications"
      parameters:
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountApplicationsJsonV310"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    post:
      tags:
      - "Account-Application"
      - "Account"
      summary: "Create Account Application"
      description: "<p>Create Account Application</p><p>Authentication is Mandatory</p>"
      operationId: "createAccountApplication"
      parameters:
      - in: "body"
        name: "body"
        description: "AccountApplicationJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AccountApplicationJson"
        x-exportParamName: "Body"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountApplicationResponseJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorInvalidJsonFormat"
  /obp/v5.1.0/banks/{BANK_ID}/account-applications/{ACCOUNT_APPLICATION_ID}:
    get:
      tags:
      - "Account-Application"
      - "Account"
      summary: "Get Account Application by Id"
      description: "<p>Get the Account Application.</p><p>Authentication is Mandatory</p>"
      operationId: "getAccountApplication"
      parameters:
      - name: "ACCOUNT_APPLICATION_ID"
        in: "path"
        description: "the account application id "
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTAPPLICATIONID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountApplicationResponseJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    put:
      tags:
      - "Account-Application"
      - "Account"
      summary: "Update Account Application Status"
      description: "<p>Update an Account Application status</p><p>Authentication is\
        \ Mandatory</p>"
      operationId: "updateAccountApplicationStatus"
      parameters:
      - in: "body"
        name: "body"
        description: "AccountApplicationUpdateStatusJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AccountApplicationUpdateStatusJson"
        x-exportParamName: "Body"
      - name: "ACCOUNT_APPLICATION_ID"
        in: "path"
        description: "the account application id "
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTAPPLICATIONID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountApplicationResponseJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/account-web-hooks:
    post:
      tags:
      - "Webhook"
      - "Bank"
      summary: "Create an Account Webhook"
      description: "<p>Create an Account Webhook</p><p>Webhooks are used to call external\
        \ URLs when certain events happen.</p><p>Account Webhooks focus on events\
        \ around accounts.</p><p>For instance, a webhook could be used to notify an\
        \ external service if a balance changes on an account.</p><p>This functionality\
        \ is work in progress! Please note that only implemented trigger is: OnBalanceChange</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "createAccountWebhook"
      parameters:
      - in: "body"
        name: "body"
        description: "AccountWebhookPostJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AccountWebhookPostJson"
        x-exportParamName: "Body"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountWebhookJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
    put:
      tags:
      - "Webhook"
      - "Bank"
      summary: "Enable/Disable an Account Webhook"
      description: "<p>Enable/Disable an Account Webhook</p><p>Webhooks are used to\
        \ call external URLs when certain events happen.</p><p>Account Webhooks focus\
        \ on events around accounts.</p><p>For instance, a webhook could be used to\
        \ notify an external service if a balance changes on an account.</p><p>This\
        \ functionality is work in progress! Please note that only implemented trigger\
        \ is: OnBalanceChange</p><p>Authentication is Mandatory</p>"
      operationId: "enableDisableAccountWebhook"
      parameters:
      - in: "body"
        name: "body"
        description: "AccountWebhookPutJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AccountWebhookPutJson"
        x-exportParamName: "Body"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountWebhookJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/banks/{BANK_ID}/accounts:
    get:
      tags:
      - "Account"
      - "PrivateData"
      - "PublicData"
      summary: "Get Accounts at Bank"
      description: "<p>Returns the list of accounts at BANK_ID that the user has access\
        \ to.<br />For each account the API returns the account ID and the views available\
        \ to the user..<br />Each account must have at least one private View.</p><p>optional\
        \ request parameters for filter with attributes<br />URL params example: /banks/some-bank-id/accounts?manager=John&amp;count=8</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getPrivateAccountsAtOneBank"
      parameters:
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/BasicAccountsJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    post:
      tags:
      - "Account"
      summary: "Create Account (POST)"
      description: "<p>Create Account at bank specified by BANK_ID.</p><p>The User\
        \ can create an Account for themself  - or -  the User that has the USER_ID\
        \ specified in the POST body.</p><p>If the POST body USER_ID <em>is</em> specified,\
        \ the logged in user must have the Role CanCreateAccount. Once created, the\
        \ Account will be owned by the User specified by USER_ID.</p><p>If the POST\
        \ body USER_ID is <em>not</em> specified, the account will be owned by the\
        \ logged in User.</p><p>The 'product_code' field SHOULD be a product_code\
        \ from Product.<br />If the product_code matches a product_code from Product,\
        \ account attributes will be created that match the Product Attributes.</p><p>Note:\
        \ The Amount MUST be zero.</p><p>Authentication is Mandatory</p>"
      operationId: "addAccount"
      parameters:
      - in: "body"
        name: "body"
        description: "CreateAccountRequestJsonV310 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/CreateAccountRequestJsonV310"
        x-exportParamName: "Body"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/CreateAccountResponseJsonV310"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorInvalidJsonFormat"
  /obp/v5.1.0/banks/{BANK_ID}/accounts-held:
    get:
      tags:
      - "Account"
      - "Account Information Service (AIS)"
      - "View-Custom"
      - "PSD2"
      summary: "Get Accounts Held"
      description: "<p>Get Accounts held by the current User if even the User has\
        \ not been assigned the owner View yet.</p><p>Can be used to onboard the account\
        \ to the API - since all other account and transaction endpoints require views\
        \ to be assigned.</p><p>optional request parameters:</p><ul><li>account_type_filter:\
        \ one or many accountType value, split by comma</li><li>account_type_filter_operation:\
        \ the filter type of account_type_filter, value must be INCLUDE or EXCLUDE</li></ul><p>whole\
        \ url example:<br />/banks/BANK_ID/accounts-held?account_type_filter=330,CURRENT+PLUS&amp;account_type_filter_operation=INCLUDE</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getAccountsHeld"
      parameters:
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CoreAccountsHeldJsonV300"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}:
    post:
      tags:
      - "Account"
      summary: "Update Account Label"
      description: "<p>Update the label for the account. The label is how the account\
        \ is known to the account owner e.g. 'My savings account'</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "updateAccountLabel"
      parameters:
      - in: "body"
        name: "body"
        description: "UpdateAccountJsonV400 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/UpdateAccountJsonV400"
        x-exportParamName: "Body"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorInvalidJsonFormat"
    put:
      tags:
      - "Account"
      - "Onboarding"
      summary: "Create Account (PUT)"
      description: "<p>Create Account at bank specified by BANK_ID with Id specified\
        \ by ACCOUNT_ID.</p><p>The User can create an Account for themself  - or -\
        \  the User that has the USER_ID specified in the POST body.</p><p>If the\
        \ PUT body USER_ID <em>is</em> specified, the logged in user must have the\
        \ Role canCreateAccount. Once created, the Account will be owned by the User\
        \ specified by USER_ID.</p><p>If the PUT body USER_ID is <em>not</em> specified,\
        \ the account will be owned by the logged in User.</p><p>The 'product_code'\
        \ field SHOULD be a product_code from Product.<br />If the 'product_code'\
        \ matches a product_code from Product, account attributes will be created\
        \ that match the Product Attributes.</p><p>Note: The Amount MUST be zero.</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "createAccount"
      parameters:
      - in: "body"
        name: "body"
        description: "CreateAccountRequestJsonV500 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/CreateAccountRequestJsonV500"
        x-exportParamName: "Body"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CreateAccountResponseJsonV310"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorInvalidJsonFormat"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/account:
    get:
      tags:
      - "Account"
      summary: "Get Account by Id (Full)"
      description: "<p>Information returned about an account specified by ACCOUNT_ID\
        \ as moderated by the view (VIEW_ID):</p><ul><li>Number</li><li>Owners</li><li>Type</li><li>Balance</li><li>IBAN</li><li>Available\
        \ views (sorted by short_name)</li></ul><p>More details about the data moderation\
        \ by the view <a href=\"#1_2_1-getViewsForBankAccount\">here</a>.</p><p>PSD2\
        \ Context: PSD2 requires customers to have access to their account information\
        \ via third party applications.<br />This call provides balance and other\
        \ account information via delegated authentication using OAuth.</p><p>Authentication\
        \ is required if the 'is_public' field in view (VIEW_ID) is not set to <code>true</code>.</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getPrivateAccountByIdFull"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/ModeratedAccountJSON400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/checkbook/orders:
    get:
      tags:
      - "Account"
      summary: "Get Checkbook orders"
      description: "<pre><code>  Get all checkbook orders</code></pre><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getCheckbookOrders"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CheckbookOrdersJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/counterparties:
    get:
      tags:
      - "Counterparty"
      - "Payment Initiation Service (PIS)"
      - "PSD2"
      - "Account"
      summary: "Get Counterparties (Explicit)"
      description: "<p>Get the Counterparties (Explicit) for the account / view.</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getExplictCounterpartiesForAccount"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CounterpartiesJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    post:
      tags:
      - "Counterparty"
      - "Account"
      summary: "Create Counterparty (Explicit)"
      description: "<p>Create Counterparty (Explicit) for an Account.</p><p>In OBP,\
        \ there are two types of Counterparty.</p><ul><li><p>Explicit Counterparties\
        \ (those here) which we create explicitly and are used in COUNTERPARTY Transaction\
        \ Requests</p></li><li><p>Implicit Counterparties (AKA Other Accounts) which\
        \ are generated automatically from the other sides of Transactions.</p></li></ul><p>Explicit\
        \ Counterparties are created for the account / view<br />They are how the\
        \ user of the view (e.g. account owner) refers to the other side of the transaction</p><p>name\
        \ : the human readable name (e.g. Piano teacher, Miss Nipa)</p><p>description\
        \ : the human readable name (e.g. Piano teacher, Miss Nipa)</p><p>currency\
        \ : counterparty account currency (e.g. EUR, GBP, USD, ...)</p><p>bank_routing_scheme\
        \ : eg: bankId or bankCode or any other strings</p><p>bank_routing_address\
        \ : eg: <code>gh.29.uk</code>, must be valid sandbox bankIds</p><p>account_routing_scheme\
        \ : eg: AccountId or AccountNumber or any other strings</p><p>account_routing_address\
        \ : eg: <code>1d65db7c-a7b2-4839-af41-95</code>, must be valid accountIds</p><p>other_account_secondary_routing_scheme\
        \ : eg: IBAN or any other strings</p><p>other_account_secondary_routing_address\
        \ : if it is an IBAN, it should be unique for each counterparty.</p><p>other_branch_routing_scheme\
        \ : eg: branchId or any other strings or you can leave it empty, not useful\
        \ in sandbox mode.</p><p>other_branch_routing_address : eg: <code>branch-id-123</code>\
        \ or you can leave it empty, not useful in sandbox mode.</p><p>is_beneficiary\
        \ : must be set to <code>true</code> in order to send payments to this counterparty</p><p>bespoke:\
        \ It supports a list of key-value, you can add it to the counterparty.</p><p>bespoke.key\
        \ : any info-key you want to add to this counterparty</p><p>bespoke.value\
        \ : any info-value you want to add to this counterparty</p><p>The view specified\
        \ by VIEW_ID must have the canAddCounterparty permission</p><p>A minimal example\
        \ for TransactionRequestType == COUNTERPARTY<br />{<br />&quot;name&quot;:\
        \ &quot;Tesobe1&quot;,<br />&quot;description&quot;: &quot;Good Company&quot;,<br\
        \ />&quot;currency&quot;: &quot;EUR&quot;,<br />&quot;other_bank_routing_scheme&quot;:\
        \ &quot;OBP&quot;,<br />&quot;other_bank_routing_address&quot;: &quot;gh.29.uk&quot;,<br\
        \ />&quot;other_account_routing_scheme&quot;: &quot;OBP&quot;,<br />&quot;other_account_routing_address&quot;:\
        \ &quot;8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0&quot;,<br />&quot;is_beneficiary&quot;:\
        \ true,<br />&quot;other_account_secondary_routing_scheme&quot;: &quot;&quot;,<br\
        \ />&quot;other_account_secondary_routing_address&quot;: &quot;&quot;,<br\
        \ />&quot;other_branch_routing_scheme&quot;: &quot;&quot;,<br />&quot;other_branch_routing_address&quot;:\
        \ &quot;&quot;,<br />&quot;bespoke&quot;: []<br />}</p><p>A minimal example\
        \ for TransactionRequestType == SEPA</p><p>{<br />&quot;name&quot;: &quot;Tesobe2&quot;,<br\
        \ />&quot;description&quot;: &quot;Good Company&quot;,<br />&quot;currency&quot;:\
        \ &quot;EUR&quot;,<br />&quot;other_bank_routing_scheme&quot;: &quot;OBP&quot;,<br\
        \ />&quot;other_bank_routing_address&quot;: &quot;gh.29.uk&quot;,<br />&quot;other_account_routing_scheme&quot;:\
        \ &quot;OBP&quot;,<br />&quot;other_account_routing_address&quot;: &quot;8ca8a7e4-6d02-48e3-a029-0b2bf89de9f0&quot;,<br\
        \ />&quot;other_account_secondary_routing_scheme&quot;: &quot;IBAN&quot;,<br\
        \ />&quot;other_account_secondary_routing_address&quot;: &quot;DE89 3704 0044\
        \ 0532 0130 00&quot;,<br />&quot;is_beneficiary&quot;: true,<br />&quot;other_branch_routing_scheme&quot;:\
        \ &quot;&quot;,<br />&quot;other_branch_routing_address&quot;: &quot;&quot;,<br\
        \ />&quot;bespoke&quot;: []<br />}</p><p>Authentication is Mandatory</p>"
      operationId: "createCounterparty"
      parameters:
      - in: "body"
        name: "body"
        description: "PostCounterpartyJson400 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PostCounterpartyJson400"
        x-exportParamName: "Body"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/CounterpartyWithMetadataJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/counterparties/{COUNTERPARTY_ID}:
    get:
      tags:
      - "Counterparty"
      - "Payment Initiation Service (PIS)"
      - "PSD2"
      - "Counterparty-Metadata"
      summary: "Get Counterparty by Id (Explicit)"
      description: "<p>Information returned about the Counterparty specified by COUNTERPARTY_ID:</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getExplictCounterpartyById"
      parameters:
      - name: "COUNTERPARTY_ID"
        in: "path"
        description: "the counterparty id"
        required: true
        type: "string"
        x-exportParamName: "COUNTERPARTYID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CounterpartyWithMetadataJson400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    post:
      tags:
      - "Counterparty"
      - "Account"
      summary: "Delete Counterparty (Explicit)"
      description: "<p>Delete Counterparty (Explicit) for an Account.<br />and also\
        \ delete the Metadata for its counterparty.</p><p>need the view permission\
        \ <code>can_delete_counterparty</code><br />Authentication is Mandatory</p>"
      operationId: "deleteExplicitCounterparty"
      parameters:
      - name: "COUNTERPARTY_ID"
        in: "path"
        description: "the counterparty id"
        required: true
        type: "string"
        x-exportParamName: "COUNTERPARTYID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/credit_cards/orders:
    get:
      tags:
      - "Card"
      summary: "Get status of Credit Card order "
      description: "<pre><code>  Get status of Credit Card orders</code></pre><p>Get\
        \ all orders</p><p>Authentication is Mandatory</p>"
      operationId: "getStatusOfCreditCardOrder"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CreditCardOrderStatusResponseJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/direct-debit:
    post:
      tags:
      - "Direct-Debit"
      - "Account"
      summary: "Create Direct Debit"
      description: "<p>Create direct debit for an account.</p><p>Authentication is\
        \ Mandatory</p>"
      operationId: "createDirectDebit"
      parameters:
      - in: "body"
        name: "body"
        description: "PostDirectDebitJsonV400 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PostDirectDebitJsonV400"
        x-exportParamName: "Body"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/DirectDebitJsonV400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/funds-available:
    get:
      tags:
      - "Account"
      - "Confirmation of Funds Service (PIIS)"
      - "PSD2"
      summary: "Check Available Funds"
      description: "<p>Check Available Funds<br />Mandatory URL parameters:</p><ul><li>amount=NUMBER</li><li>currency=STRING</li></ul><p>Authentication\
        \ is Mandatory</p>"
      operationId: "checkFundsAvailable"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/CheckFundsAvailableJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/metadata/tags:
    get:
      tags:
      - "Account-Metadata"
      - "Account"
      summary: "Get tags on account"
      description: "<p>Returns the account ACCOUNT_ID tags made on a <a href=\"#1_2_1-getViewsForBankAccount\"\
        >view</a> (VIEW_ID).<br />Authentication is Mandatory</p><p>Authentication\
        \ is required as the tag is linked with the user.</p>"
      operationId: "getTagsForViewOnAccount"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountTagsJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    post:
      tags:
      - "Account-Metadata"
      - "Account"
      summary: "Create a tag on account"
      description: "<p>Posts a tag about an account ACCOUNT_ID on a <a href=\"#1_2_1-getViewsForBankAccount\"\
        >view</a> VIEW_ID.</p><p>Authentication is Mandatory</p><p>Authentication\
        \ is required as the tag is linked with the user.</p>"
      operationId: "addTagForViewOnAccount"
      parameters:
      - in: "body"
        name: "body"
        description: "PostAccountTagJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PostAccountTagJSON"
        x-exportParamName: "Body"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/AccountTagJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/metadata/tags/{TAG_ID}:
    delete:
      tags:
      - "Account-Metadata"
      - "Account"
      summary: "Delete a tag on account"
      description: "<p>Deletes the tag TAG_ID about the account ACCOUNT_ID made on\
        \ <a href=\"#1_2_1-getViewsForBankAccount\">view</a>.</p><p>Authentication\
        \ is Mandatory</p><p>Authentication is required as the tag is linked with\
        \ the user.</p>"
      operationId: "deleteTagForViewOnAccount"
      parameters:
      - name: "TAG_ID"
        in: "path"
        description: "The tag id"
        required: true
        type: "string"
        x-exportParamName: "TAGID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorNoViewPermission"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts:
    get:
      tags:
      - "Counterparty"
      - "Account"
      summary: "Get Other Accounts of one Account"
      description: "<p>Returns data about all the other accounts that have shared\
        \ at least one transaction with the ACCOUNT_ID at BANK_ID.<br />Authentication\
        \ is Optional</p><p>Authentication is required if the view VIEW_ID is not\
        \ public.</p>"
      operationId: "getOtherAccountsForBankAccount"
      parameters:
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/OtherAccountsJsonV300"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}:
    get:
      tags:
      - "Counterparty"
      - "Account"
      summary: "Get Other Account by Id"
      description: "<p>Returns data about the Other Account that has shared at least\
        \ one transaction with ACCOUNT_ID at BANK_ID.<br />Authentication is Optional</p><p>Authentication\
        \ is required if the view is not public.</p>"
      operationId: "getOtherAccountByIdForBankAccount"
      parameters:
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/OtherAccountJsonV300"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata:
    get:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Get Other Account Metadata"
      description: "<p>Get metadata of one other account.<br />Returns only the metadata\
        \ about one other bank account (OTHER_ACCOUNT_ID) that had shared at least\
        \ one transaction with ACCOUNT_ID at BANK_ID.</p><p>Authentication via OAuth\
        \ is required if the view is not public.</p><p>Authentication is Mandatory</p>"
      operationId: "getOtherAccountMetadata"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/OtherAccountMetadataJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/corporate_location:
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add Corporate Location to Counterparty"
      description: "<p>Add the geolocation of the counterparty's registered address</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "addCounterpartyCorporateLocation"
      parameters:
      - in: "body"
        name: "body"
        description: "CorporateLocationJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/CorporateLocationJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update Counterparty Corporate Location"
      description: "<p>Update the geolocation of the counterparty's registered address</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "updateCounterpartyCorporateLocation"
      parameters:
      - in: "body"
        name: "body"
        description: "CorporateLocationJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/CorporateLocationJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete Counterparty Corporate Location"
      description: "<p>Delete corporate location of other bank account. Delete the\
        \ geolocation of the counterparty's registered address</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "deleteCounterpartyCorporateLocation"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/image_url:
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add image url to other bank account"
      description: "<p>Add a url that points to the logo of the counterparty</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "addCounterpartyImageUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "ImageUrlJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/ImageUrlJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update Counterparty Image Url"
      description: "<p>Update the url that points to the logo of the counterparty</p><p>Authentication\
        \ is Optional</p>"
      operationId: "updateCounterpartyImageUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "ImageUrlJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/ImageUrlJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete Counterparty Image URL"
      description: "<p>Delete image url of other bank account</p><p>Authentication\
        \ is Optional</p>"
      operationId: "deleteCounterpartyImageUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUnknownError"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/more_info:
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add Counterparty More Info"
      description: "<p>Add a description of the counter party from the perpestive\
        \ of the account e.g. My dentist</p><p>Authentication is Mandatory</p>"
      operationId: "addCounterpartyMoreInfo"
      parameters:
      - in: "body"
        name: "body"
        description: "MoreInfoJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/MoreInfoJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update Counterparty More Info"
      description: "<p>Update the more info description of the counter party from\
        \ the perpestive of the account e.g. My dentist</p><p>Authentication is Mandatory</p>"
      operationId: "updateCounterpartyMoreInfo"
      parameters:
      - in: "body"
        name: "body"
        description: "MoreInfoJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/MoreInfoJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete more info of other bank account"
      description: "<p>Authentication is Mandatory</p>"
      operationId: "deleteCounterpartyMoreInfo"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/open_corporates_url:
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add Open Corporates URL to Counterparty"
      description: "<p>Add open corporates url to other bank account</p><p>Authentication\
        \ is Optional</p>"
      operationId: "addCounterpartyOpenCorporatesUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "OpenCorporateUrlJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/OpenCorporateUrlJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update Open Corporates Url of Counterparty"
      description: "<p>Update open corporate url of other bank account</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "updateCounterpartyOpenCorporatesUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "OpenCorporateUrlJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/OpenCorporateUrlJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete Counterparty Open Corporates URL"
      description: "<p>Delete open corporate url of other bank account</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "deleteCounterpartyOpenCorporatesUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/physical_location:
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add physical location to other bank account"
      description: "<p>Add geocoordinates of the counterparty's main location</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "addCounterpartyPhysicalLocation"
      parameters:
      - in: "body"
        name: "body"
        description: "PhysicalLocationJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PhysicalLocationJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update Counterparty Physical Location"
      description: "<p>Update geocoordinates of the counterparty's main location</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "updateCounterpartyPhysicalLocation"
      parameters:
      - in: "body"
        name: "body"
        description: "PhysicalLocationJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PhysicalLocationJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete Counterparty Physical Location"
      description: "<p>Delete physical location of other bank account</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "deleteCounterpartyPhysicalLocation"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/metadata/url:
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add url to other bank account"
      description: "<p>A url which represents the counterparty (home page url etc.)</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "addCounterpartyUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "UrlJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/UrlJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update url of other bank account"
      description: "<p>A url which represents the counterparty (home page url etc.)</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "updateCounterpartyUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "UrlJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/UrlJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete url of other bank account"
      description: "<p>Authentication is Mandatory</p>"
      operationId: "deleteCounterpartyUrl"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/private_alias:
    get:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Get Other Account Private Alias"
      description: "<p>Returns the private alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication\
        \ is Optional<br />Authentication is required if the view is not public.</p>"
      operationId: "getOtherAccountPrivateAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AliasJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Create Other Account Private Alias"
      description: "<p>Creates a private alias for the other account OTHER_ACCOUNT_ID.</p><p>Authentication\
        \ is Optional<br />Authentication is required if the view is not public.</p>"
      operationId: "addOtherAccountPrivateAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "AliasJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AliasJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update Counterparty Private Alias"
      description: "<p>Updates the private alias of the counterparty (AKA other account)\
        \ OTHER_ACCOUNT_ID.</p><p>Authentication is Optional<br />Authentication is\
        \ required if the view is not public.</p>"
      operationId: "updateCounterpartyPrivateAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "AliasJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AliasJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete Counterparty Private Alias"
      description: "<p>Deletes the private alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication\
        \ is Optional<br />Authentication is required if the view is not public.</p>"
      operationId: "deleteCounterpartyPrivateAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/other_accounts/{OTHER_ACCOUNT_ID}/public_alias:
    get:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Get public alias of other bank account"
      description: "<p>Returns the public alias of the other account OTHER_ACCOUNT_ID.<br\
        \ />Authentication is Optional<br />Authentication is Mandatory if the view\
        \ is not public.</p>"
      operationId: "getCounterpartyPublicAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/AliasJSON"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    post:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Add public alias to other bank account"
      description: "<p>Creates the public alias for the other account OTHER_ACCOUNT_ID.</p><p>Authentication\
        \ is Optional<br />Authentication is required if the view is not public.</p><p>Note:\
        \ Public aliases are automatically generated for new 'other accounts / counterparties',\
        \ so this call should only be used if<br />the public alias was deleted.</p><p>The\
        \ VIEW_ID parameter should be a view the caller is permitted to access to\
        \ and that has permission to create public aliases.</p>"
      operationId: "addCounterpartyPublicAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "AliasJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AliasJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    put:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Update public alias of other bank account"
      description: "<p>Updates the public alias of the other account / counterparty\
        \ OTHER_ACCOUNT_ID.</p><p>Authentication is Optional<br />Authentication is\
        \ required if the view is not public.</p>"
      operationId: "updateCounterpartyPublicAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "AliasJSON object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/AliasJSON"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/SuccessMessage"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
    delete:
      tags:
      - "Counterparty-Metadata"
      - "Counterparty"
      summary: "Delete Counterparty Public Alias"
      description: "<p>Deletes the public alias of the other account OTHER_ACCOUNT_ID.</p><p>Authentication\
        \ is Optional<br />Authentication is required if the view is not public.</p>"
      operationId: "deleteCounterpartyPublicAlias"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "OTHER_ACCOUNT_ID"
        in: "path"
        description: "The other account id"
        required: true
        type: "string"
        x-exportParamName: "OTHERACCOUNTID"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "204":
          description: "Success"
          schema:
            $ref: "#/definitions/EmptyClassJson"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorBankAccountNotFound"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/standing-order:
    post:
      tags:
      - "Standing-Order"
      - "Account"
      summary: "Create Standing Order"
      description: "<p>Create standing order for an account.</p><p>when -&gt; frequency\
        \ = {‘YEARLY’,’MONTHLY, ‘WEEKLY’, ‘BI-WEEKLY’, DAILY’}<br />when -&gt; detail\
        \ = { ‘FIRST_MONDAY’, ‘FIRST_DAY’, ‘LAST_DAY’}}</p><p>Authentication is Mandatory</p>"
      operationId: "createStandingOrder"
      parameters:
      - in: "body"
        name: "body"
        description: "PostStandingOrderJsonV400 object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/PostStandingOrderJsonV400"
        x-exportParamName: "Body"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "201":
          description: "Success"
          schema:
            $ref: "#/definitions/StandingOrderJsonV400"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types:
    get:
      tags:
      - "Transaction-Request"
      - "Payment Initiation Service (PIS)"
      - "PSD2"
      summary: "Get Transaction Request Types for Account"
      description: "<p>Returns the Transaction Request Types that the account specified\
        \ by ACCOUNT_ID and view specified by VIEW_ID has access to.</p><p>These are\
        \ the ways this API Server can create a Transaction via a Transaction Request<br\
        \ />(as opposed to Transaction Types which include external types too e.g.\
        \ for Transactions created by core banking etc.)</p><p>A Transaction Request\
        \ Type internally determines:</p><ul><li>the required Transaction Request\
        \ 'body' i.e. fields that define the 'what' and 'to' of a Transaction Request,</li><li>the\
        \ type of security challenge that may be be raised before the Transaction\
        \ Request proceeds, and</li><li>the threshold of that challenge.</li></ul><p>For\
        \ instance in a 'SANDBOX_TAN' Transaction Request, for amounts over 1000 currency\
        \ units, the user must supply a positive integer to complete the Transaction\
        \ Request and create a Transaction.</p><p>This approach aims to provide only\
        \ one endpoint for initiating transactions, and one that handles challenges,\
        \ whilst still allowing flexibility with the payload and internal logic.</p><p>Authentication\
        \ is Mandatory</p>"
      operationId: "getTransactionRequestTypes"
      parameters:
      - in: "body"
        name: "body"
        description: "EmptyClassJson object that needs to be added."
        required: true
        schema:
          $ref: "#/definitions/EmptyClassJson"
        x-exportParamName: "Body"
      - name: "VIEW_ID"
        in: "path"
        description: "The view id"
        required: true
        type: "string"
        x-exportParamName: "VIEWID"
      - name: "ACCOUNT_ID"
        in: "path"
        description: "The account id"
        required: true
        type: "string"
        x-exportParamName: "ACCOUNTID"
      - name: "BANK_ID"
        in: "path"
        description: "The bank id"
        required: true
        type: "string"
        x-exportParamName: "BANKID"
      security:
      - directLogin: []
        gatewayLogin: []
      responses:
        "200":
          description: "Success"
          schema:
            $ref: "#/definitions/TransactionRequestTypesJsonV140"
        "400":
          description: "Error"
          schema:
            $ref: "#/definitions/ErrorUserNotLoggedIn"
  /obp/v5.1.0/banks/{BANK_ID}/accounts/{ACCOUNT_ID}/{VIEW_ID}/transaction-request-types/ACCOUNT/transaction-requests:
    post:
      tags:
      - "Transaction-Request"
      - "Payment Initiation Service (PIS)"
      - "PSD2"
      summary: "Create Transaction Request (ACCOUNT)"
      description: "<p>When using ACCOUNT, the payee is set in the request body.</p><p>Money\
        \ goes into the BANK_ID and ACCOUNT_ID specified in the request body.</p><p>Initiate\
        \ a Payment via creating a Transaction Request.</p><p>In OBP, a <code>transaction\
        \ request</code> may or may not result in a <code>transaction</code>. However,\
        \ a <code>transaction</code> only has one possible state: completed.</p><p>A\
        \ <code>Transaction Request</code> can have one of several states: INITIATED,\
        \ NEXT_CHALLENGE_PENDING etc.</p><p><code>Transactions</code> are modeled\
        \ on items in a bank statement that represent the movement of money.</p><p><code>Transaction\
        \ Requests</code> are requests to move money which may or may not succeed\
        \ and thus result in a <code>Transaction</code>.</p><p>A <code>Transaction\
        \ Request</code> might create a security challenge that needs to be answered\
        \ before the <code>Transaction Request</code> proceeds.<br />In case 1 person\
        \ needs to answer security challenge we have next flow of state of an <code>transaction\
        \ request</code>:<br />INITIATED =&gt; COMPLETED<br />In case n persons needs\
        \ to answer security challenge we have next flow of state of an <code>transaction\
        \ request</code>:<br />INITIATED =&gt; NEXT_CHALLENGE_PENDING =&gt; ... =&gt;\
        \ NEXT_CHALLENGE_PENDING =&gt; COMPLETED</p><p>The security challenge is bound\
        \ to a user i.e. in case of right answer and the user is different than expected\
        \ one the challenge will fail.</p><p>Rule for calculating number of security\
        \ challenges:<br />If product Account attribute REQUIRED_CHALLENGE_ANSWERS=N\
        \ then create N challenges<br />(one for every user that has a View where\
        \ permission &quot;can_add_transaction_request_to_any_account&quot;=true)<br\
        \ />In case REQUIRED_CHALLENGE_ANSWERS is not defined as an account attribute\
        \ default value is 1.</p><p>Transaction Requests contain charge information\
        \ giving the client the opportunity to proceed or not (as long as the challenge\
[...]
